spring:
  datasource:
    url: ${POSTGRES_URL}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        show_sql: false

# 로그 레벨
logging:
  level:
    com.sprint.mission.discodeit: info
    org.hibernate.SQL: info
    org.hibernate.orm.jdbc.bind: info